html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-family: inherit;
vertical-align: baseline;
}

/* Default behaviour re-implemented */
em { font-style: italic; }
strong { font-weight: bold; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
table, tr, td, div { vertical-align: top; }

/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}


/**
*   Global styles for PWeb
**/

body
{
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12.8px;
    line-height: 1.5;
}
a { text-decoration: none; color: #666 }
a:hover { text-decoration: underline; color: #004ca0; }

/* Form elements */
.form_selector
{
    height:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.99px;
    font-weight: normal;
    color: #666666;
    padding: 0;
}

/* Layout */
.wrapper { width: 980px; margin: 0 auto; }
#header{border-bottom:1px solid #bbb;margin:0 20px;padding:10px 0 0;}
#header-left{float:left;width:70%;}
#header-right
{
    float: right;
    display: inline;
    width: 200px;
    font-size: 10.23px;
    margin-top: 20px;
    text-align: right;
}
#menu { margin: 0px 20px 10px; }
#sidebar
{
    width: 170px;
    overflow: hidden;
    font-size: 12px;
    float: left;
    margin-right: 10px;
}
#content
{
    clear: both;
    margin: 0 20px;
    min-height: 300px;
    width: 940px;
    overflow: hidden;
}
#right-bar
{
    float: right;
    width: 180px;
    margin: 0;
    padding: 0;
}

#main { font-size: 10.88px; float: left; }
#main-content { float: left; }
.layout-3-column #main { width:565px; }
.layout-2-column #main-content { width: 755px; }
.layout-1-column #main-content { width: 940px; }
.layout-2nd-level #main
{
    width: 755px;
}


/* Header */
#site-logo-container,#site-logo { float: left; position: relative; z-index: 100; }
#site-welcome { position: relative; padding: 23px 15px 0 5px; float: left; }
#site-welcome .drop-arrow { padding-bottom: 0px; }
#site-welcome a { text-decoration: none; }
#site-animation{ float: right; position: relative; top:-10px; width:280px; }
h1#uob-logo a{text-indent:-9999px;display:block;width:130px;background:url('/assets/images/common/UOB-logo.jpg') no-repeat;height:45px;}
h3#welcome-text{text-indent:-9999px;display:block;width:125px;background:url('/assets/images/common/text_welcome-to-uob-singapore.gif') no-repeat;height:15px;}
#site-logo a { display: block; }

/* Main menu */
#main-menu ul li a{color:#006699;font-weight:bold;display:block;border-bottom:2px solid #46699F;line-height:25px;}
#main-menu ul li a:hover{border-bottom:2px solid #990000;}
#main-menu ul li { float: left; font-size: 12px; }
#main-menu ul#banking-section li { margin: 5px 0 6px 10px; }
#main-menu ul#banking-section li.main-selected { margin-top: 10px; margin-bottom: 0; }
#main-menu ul li#personal-banking { width:135px; margin-left:0;  }
#main-menu ul li#business-banking { width:122px; }
#main-menu ul li#corporate-banking { width:207px; }
#main-menu ul li#investor-relations { width:122px; }
#main-menu ul li#about-uob { width:94px; }
#main-menu ul#banking-type { float:right; }
#main-menu ul#banking-type li { margin:0 5px; padding:5px 5px 0 0; font-size:12px; }
#main-menu ul#banking-type li#private-banking { margin-right:0; }
#main-menu ul#banking-type li a { color:#000; display:block; border-bottom:none !important; background:url('/assets/images/common/buttons/btn_bg_off_PBanking.gif') no-repeat bottom; padding-bottom: 5px; }
#main-menu ul#banking-type li a:hover { background:url('/assets/images/common/buttons/btn_bg_on.gif') repeat-x bottom; }
#main-menu ul#banking-type li.main-selected { padding-top: 8px; }
#main-menu ul#banking-type li.main-selected a { background: none; line-height:18px; padding-bottom: 2px; }
#main-menu ul#banking-type li.main-selected a:hover { background: none; }

#main-menu a:hover { text-decoration: none; }
#main-menu ul li.main-selected{ border-bottom: 10px solid #990000; }
#main-menu ul li.main-selected a, #main-menu ul li.main-selected a:hover { border-bottom: none; line-height: 18px; padding-left: 5px; }
#sub-menu
{
    background: #990000;
    color: #fff;
    font-size: 12px;
    padding: 5px 0;
    clear: left;
    overflow: auto;
    height: 20px; 
}
#sub-menu a{color:#ffffff;padding:0 4px;}
#sub-menu a:hover{color:#ccc;text-decoration:underline;}
#sub-menu ul { overflow: auto; width: 100%; }
#sub-menu ul li { float: left; text-align: center; font-size: 12px; line-height: 1.5; }


/* Subheader - 3rd level pages */
.layout-1-column #subheader { width: 940px; }
#subheader
{
    width: 755px;
    float: left;
    margin-bottom: 0px;
}
#subheader h1
{
    font-weight: normal;
    font-size: 22px;
    color: #006;
    width: 450px;
    float: left;
    margin: 0px 5px 0px 0;
    padding: 5px 5px 5px 2px;
}
#subheader #breadcrumbs
{
    float: right;
    text-align: right;
    font-size: 12.33px;
    width: 290px;
    margin-top: 5px;
    line-height: 1.25;
}
#subheader #breadcrumbs div { font-weight: bolder; }
#subheader #breadcrumbs li
{
    display: inline;
    margin: 0 0 0 1px;
    padding: 0 0 0 11px;
    background: transparent url(/assets/images/common/list-items/bullet_2.gif) no-repeat scroll left 1px;
}
#subheader #breadcrumbs li.top-level
{
    background: none;
    margin: 0;
    padding: 0;
}


/* Sidebar */
.layout-1-column #sidebar, .layout-2nd-level #sidebar { display: none; }
#sidebar ul {padding:0;}
#sidebar ul ul {padding:0 0 0 10px;}
#sidebar ul li.collapsed{background:url('/assets/images/common/icon/icon_collapse.gif') no-repeat;background-position:0 5px;}
#sidebar ul li.expanded{background:url('/assets/images/common/icon/close.gif') no-repeat;background-position:0 5px;}
#sidebar ul li{background:url('/assets/images/common/icon/icon_arrow_left.gif') no-repeat;background-position:2px 6px;}
#sidebar ul li.hidden{display:none;}
#sidebar .sidebar-panel{padding:0 5px;margin-bottom:2em;}
#sidebar a { display: block; padding-left: 10px; color: #666; }
#sidebar a:hover { color: #069; text-decoration: underline; }
#sidebar a.title, #sidebar a.title:hover { font-weight: bold; }
#sidebar h4{border-bottom:2px solid #004F9E;color:#666;font-size:11.25px;font-weight:bold;margin:5px;}
#gold_silver .hidden{font-size:8.5px;}

/* Footer */
#footer-links { border-top: 1px solid #8c8c8c; margin: 0 20px; color: #333; font-weight: bold; overflow: auto; font-size: 11.33px}
#footer-links ul { padding-top: 20px; }
#footer-links ul li { float: left; text-align: center; }
#footer-links a { color:#333; padding:0 5px; font-weight:normal; }
#footer-links a:hover{color:#02236A;text-decoration:underline;}
#footer-about { float: left; }
#footer-privacy { float: right; }
#footer-privacy a { padding: 0 10px; }
#footer-copyright{clear:both;text-align:center;padding:10px 10px; font-size: 11.33px;}

/* language selector panel, default positioning */
#lang-panel { float: left; color: #aaa; font-size: 11.30px; display: none; }
#lang-panel span { border-left: 1px solid #aaa; padding: 0 1px 0 5px; }
#lang-panel .desc { font-style: italic; border-left: none; }
#lang-panel .first { border-left: none; }
#lang-panel .selected { font-weight: bold; }
#lang-panel a { color: #aaa; }

/* lang selector, positioned next to UOB logo */
#lang-panel-container #lang-panel
{
    position: absolute;
    top: 27px;
    width: 300px;
    z-index: 100;
    display: block;
}
#lang-panel-container #lang-panel .desc { display: none; }

#lang-panel-container { position: relative; float: left; }

/* breadcrumbs */
#current-breadcrumbs, #current-breadcrumbs a{color:#003366;}

/* main */
#page.wrapper { font-size: 12.8px; }
#inner-page { min-height: 600px; height: auto; }
#footer.wrapper { font-size: 11x; padding: 100px 0 0; }
body #page.compact #footer.wrapper { padding: 0; }

/* Content area */
#main-content
{
}
.published-content
{
    background: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.published-content .utility-bar
{
    text-align: right;
}
.layout-3-column .published-content
{
    width: 560px;
}
.layout-2-column .published-content
{
    width: 755px;
}

/* Dropdown menu */
#dropmenudiv
{
    position:absolute;
    border:1px solid black;
    border-bottom-width: 0;
    line-height:18px;
    z-index:100;
    font-size: 11.33px;
}
#dropmenudiv a
{
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid black;
    padding: 1px 0;
    text-decoration: none;
    background-color:#FFFFFF;
    font-weight: bold;
    color:#666666;
}
#dropmenudiv a:hover
{
    background-color: #F4F4F4;
    color:#004CA0;
}

/* Right-bar */
.layout-2-column #right-bar, .layout-1-column #right-bar { display: none; }
#right-bar
{
    float: right;
    width: 180px;
}
#right-bar h3
{
    width: 180px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #004F9E;
    font-size: 13.33px;
    font-weight: bold;
    color: #666;
}
#right-bar .right-panel
{
    margin: 0 0 20px;
}
#right-bar .right-panel.freeform, #right-bar .right-panel.ssi
{
    padding: 0 10px;
}
#right-bar #UOB-assist
{
    margin: 0 0 20px;
}
#right-bar #UOB-assist .title
{
    height: 60px;
    background: transparent url('/assets/images/personalHome/uob-assist.gif') no-repeat top center;
    text-indent: -9999px;
}
#right-bar .hidden
{
    display: none;
}
#right-bar a.morelink
{
    display: block;
    text-align: right;
    text-decoration: underline;
}
#right-bar .form_selector
{
    width: 160px;
}
#right-bar #Uniplus div
{
    background:  #034DA2;
    color: #A6D5FF;
    text-align: center;
    font-size: 11.33px;
}
#right-bar #Uniplus h4
{
    margin: 0;
    padding: 5px 0 0;
}
#right-bar #Uniplus table, 
#right-bar #Uniplus tr, 
#right-bar #Uniplus td
{
    border-collapse: collapse;
    line-height: 12px;
}
#right-bar #Uniplus table
{
    width: 100%;
    border: none collapse;
    margin: 5px 0;
    font-size: 9px;
    color: #666;
}
#right-bar #Uniplus th
{
    background: #B3B1B2;
    padding: 3px;
}
#right-bar #Uniplus td
{
    background: #D8E9F1;
    padding: 5px;
    border: 1px solid #b3b1b2;
}
#right-bar #currency-converter
{
    font-size: 11.33px;
}
#right-bar #currency-converter form
{
    background: #D8E9F1 url('/assets/images/tools_app/Currencyconverter_BG.jpg') no-repeat bottom center;
    margin: auto;
    padding: 0 5px;
    width: 164px;
}
#right-bar #currency-converter form img
{
    margin-top: 15px;
}
#right-bar .portlet .img-banner
{
    text-align: center;
}
#right-bar .portlet .img-banner img
{
    border: none;
}
