
* {
 margin: 0;
 padding: 0;
}

body {
 padding: 50px;
 border-top: solid 1px #fff;
 background: #fff url(images/pattern1.png) 0 0 repeat-x;
 font: 14px/normal Tahoma, Arial, Helvetica, sans-serif;
}

html, body{height: 100%;}

#wrap {min-height: 80%;}

#main {overflow:auto;
    padding-bottom: 20%;}  /* must be same height as the footer */

footer {

 position: relative;
 margin-top: -20%;
 height: 20%;
 clear:both;
 text-align: center;
 width:100%;
}

/* Footer */
#footer {background: #444444 url('images/footer.gif') repeat-x;color:#ffffff;font-size:11px;font-family:Verdana, Arial, sans-serif}
#footer2 {background-color: #444444;color:#ffffff;font-size:11px;font-family:Verdana, Arial, sans-serif;height:140px}
#footer a, #footer2 a {color:#ffffff;text-decoration:underline}
#footer a:hover, #footer2 a:hover {color:#804249;text-decoration:underline}
#footer a:visited, #footer2 a:visited  {color:#ffffff;text-decoration:underline}
#footer p, #footer2 p {margin:0 0 15px 0}
#footer p.axe img, #footer2 p.axe img {margin-bottom:-7px}
#foot {width:100%;margin:0 auto;background: url('images/pattern1.png') repeat-x;height:140px;line-height:1.1em;padding: 0;}
#foot2 {width:800px;margin:0 auto;height:140px;line-height:1.1em;padding:0 10px 0 10px}
#foot #left {width:400px;float:left;padding-top:72px}
#foot #right {width:250px;float:right;text-align:right;padding-top:72px}
#foot2 #left {width:450px;float:left;padding-top:45px}
#foot2 #right {width:250px;float:right;text-align:right;padding-top:45px}

.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden}
.clearfix {display: inline-block}
* html .clearfix {height: 1%}
.clearfix {display: block}


p { margin-bottom: 1em; }

ul.classic {
 list-style: disc;
 margin-bottom: 1em;
 padding-left: 2em;
}

h1,h2,h3 {
 margin-bottom: .5em;
 font-family: Arial, Helvetica, sans-serif;
 line-height: normal;
}

h1 {
 border-bottom: solid 1px #d9d9d9;
 font-weight: normal;
 font-size: 180%;
 text-indent: 5px;
 letter-spacing: -1px;
}

.dropdown-upward {
 margin-top: 400px !important;
}